body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  display: flex;
}

#left {
  float: left;
  width: 50vw;
  height: 100vh;
  background-color: #099dfd;
  padding: 0px 10px 0px 10px;
}

#right {
  background-color: white;
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.form {
  font-size: 1.5em;
  margin-top: 35%;
  margin-left: 20%;
  margin-right: 10%;
}

input {
  border: 2px solid #099dfd;
  border-radius: 5px;
  width: 80%;
  height: 1.5em;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 0px 5px 0px 5px;
}

#submitButton {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 1.5em;
  background-color: #099dfd;
  font-size: 0.8em;
  padding: 0px 20px 0px 20px;
  color: white;
}

#submitButton:hover {
  background-color: #5abdff;
}

.picBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picContainer {
  width: 450px;
  height: 450px;
  margin-top: 100px;
}

#slogan {
  margin: auto;
  font-size: 2em;
  color: white;
  width: 80%;
  text-align: center;
}

.failed {
  border: 2px solid red;
}
